<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DummyDataStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAFBEF111F79DFE5006B2DC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAFBEF251F79DFE5006B2DC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAFBEF301F79DFE5006B2DC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
